.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: lightgray;
  padding: 16px;

  .menu-btn {
    margin-right: 1rem;

    @media  screen and (min-width: 1025px) {
      display: none;
    }
  }

  h2 {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.main-container {
  display: flex;
  height: 100%;
}

.app-container {
  height: 100vh;
}

.menu-container {
  position: relative;
  background-color: rgb(248, 249, 250);


  // todo: add mixins for media queries
  .mobile-menu {
    display: none;
    @media  screen and (max-width: 1024px) {
      display: block;
    }
  }

  .desktop-menu {
    @media  screen and (max-width: 1024px) {
      display: none;
    }
  }
}

.content-container {
  width: 100%;
}
